@import "tailwindcss";

:root {
    --background: #284434;
    --secondary-color: #234d3f;
    --accent-color: #d26b6b;
    --foreground: #bcb8af;
    --text-color: #bcb8af;
    --text2-color: #3e7a65;
}

.dark-mode {
    --background: #284434;
    --secondary-color: #234d3f;
    --accent-color: #d26b6b;
    --foreground: #bcb8af;
    --text-color: #bcb8af;
    --text2-color: #3e7a65;
}

.light-mode {
    --background: #f4f1ea;
    --secondary-color: #e2e8e4;
    --accent-color: #c05555;
    --foreground: #284434;
    --text-color: #284434;
    --text2-color: #3e7a65;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background) !important;
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;

}

@keyframes fade-in-slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-page-load-1 {
    animation-name: fade-in-slide-up;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: .2s;
    animation-fill-mode: backwards;
}

.animate-page-load-2 {
    animation-name: fade-in-slide-up;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

/* Tiptap Editor Styles */
.ProseMirror ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin: 1em 0;
}

.ProseMirror ol {
    list-style-type: decimal;
    padding-left: 1.5em;
    margin: 1em 0;
}

.ProseMirror blockquote {
    border-left: 3px solid var(--accent-color);
    padding-left: 1em;
    margin: 1em 0;
    font-style: italic;
    opacity: 0.8;
}

.ProseMirror p {
    margin: 0.5em 0;
}

.ProseMirror:focus {
    outline: none;
}